button {
    font-family: 'Chewy';
    color: #C44395;
    background-color: #FEFCD6 ;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 2px 1px 10px 0px rgba(255,242,225,0.49);
    border: none;
    padding: 15px 100px;
    border-radius: 100px;
    margin: 0 auto;
}

button:hover {
    background-color: #fffbc9;
    box-shadow: 1px 1px 10px 0px rgba(255,242,225,0.29);
}

 button:active {
    position: relative;
    top: 2px;
 }