.question_container {
    width: 50vw;
    box-shadow: 2px 0px 10px 0px rgba(255,242,225,0.49);
    background: linear-gradient(to bottom,  rgb(229, 130, 139) 10%,#c44395 39%);
    border-radius: 20px;
}

.question-question_container {
    text-align: center;
    padding: 32px;
}

h2 {
    color: #FFF9F9;
    margin-bottom: 32px;
    font-weight: 100;
}

.question-question_container p {
    color: #FEFCD6;
}

#answerForm {
    background-color: #FEFCD6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

fieldset {
    padding: 16px 54px;
}

fieldset, input {
    border: none;
    cursor: pointer;
}

label, input {
    color: #c44395;
}

input {
    margin-left: 24px;
    background-color: transparent;
    min-height: 2.5em;
    width: 50%;
}

input:focus {
    outline: 0;
}
