/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(155deg, #7b317c 13%,#502773 22%,#2c2166 34%,#2c2166 40%,#191f59 60%,#132152 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Chewy';
}

p {
    font-size: 24px;
}